<div ng-cloak class="dialog">
    <div class="background"></div>
    <div class="dialog-body center">
        <div>
            <p><br>You have not sent any invites – click <strong>Cancel</strong> to return to the screen, or click <strong>Done</strong> to continue without sending invites. <br />
            <div class="nav-buttons">
                <a class="button button-large prev" ng-click="close()">Cancel</a>
                <a class="button button-large next" ng-click="action()">Done</a>
            </div>
        </div>
    </div>
</div>
