<div ng-cloak class="dialog">
    <div class="background"></div>

    <div class="dialog-body center">
        <div ng-show="notifyIsVisible">
            <h1>Sorry</h1>
            <p>Kooboodle PhotoFinder is not yet available. <br /><strong>Would you like to be notified when it is ready?</strong></p>

            <input type="text" ng-model="notifyEmail.value" placeholder="Enter your email address" />

            <div class="nav-buttons">
                <a class="button button-large prev" ng-click="close()">No Thanks</a>
                <a class="button button-large next" ng-click="notify()">Notify Me</a>
            </div>
        </div>
        <div ng-show="thankyouIsVisible">
            <h1>Thank you</h1>
            <p>We will notify you once Kooboodle PhotoFinder is available. In meantime you can <strong>Upload Photos Manually</strong></p>
            <div class="center">
                <a ng-click="close()" class="button button-large accent3">OK</a>
            </div>
        </div>
    </div>
</div>