<div class="flow-receiver">

    <div class="user-item">
        <img src="{{senderImgUrl}}" />
        <strong>{{senderName}}</strong> sent you a request for photos of <strong>{{objectName}}</strong>.

    </div>

    <p>
        To respond: <a ng-click="openUploader()" class="upload-manually link">upload photos manually</a> <span class="circle">or</span>
        <a class="use-photofinder link" ng-click="showDialogPhotofinder()">download and install</a> the <strong>Kooboodle PhotoFinder</strong>.
    </p>

    <hr />

    <h3 ng-show="uploadedPhotos.length > 0" class="center accent1"><span class="{{loading}}">{{uploadedPhotos.length}} photo<span ng-if="uploadedPhotos.length > 1">s</span> uploaded</span></h3>
    <h3 ng-if="uploadedPhotos.length === 0" class="center accent1"><span class="{{loading}}">You haven't uploaded any photos</span></h3>

    <p ng-if="uploadedPhotos.length === 0" class="center">
        Would you mind uploading photos you have of <strong>{{objectName}}</strong>
    </p>

    <div ng-show="!isUploaderVisible || uploadedPhotos.length === 0">
        <p class="center">
            <img src="images/no-photos.png" />
        </p>
    </div>
    <div ng-show="!isUploaderVisible">
        <div class="buttons-container equal wide">
            <div class="button-container wide">
                <a ng-click="openUploader()" class="uploading-manual button button-large accent1">Upload photos manually</a>
            </div>
            <div class="button-container wide">
                <a class="uploading-pf button clickable button-large accent2" ng-click="showDialogPhotofinder()">Use PhotoFinder</a>
            </div>
        </div>
    </div>
    <div ng-show="isUploaderVisible">

        <p ng-if="uploadedPhotos.length > 0" class="center">
            When you are finished uploading all of your photos of <strong>{{objectName}}</strong> click <strong>Done</strong>
        </p>

        <input id="file-upload-input" class="hidden" type="file" ng-file-select="onFileSelect($files)" multiple="multiple" accept="image/jpeg,image/gif,image/png" />

        <ul class="uploaded-photos">
            <li ng-repeat="url in uploadedPhotos">
                <img src="{{url}}" />
            </li>
        </ul>

        <div class="buttons-container equal">
            <div class="button-container">
                <a ng-click="openUploader()" class="uploading-more button button-large accent1">Add more photos</a>
            </div>
            <div class="button-container">
                <a href="#/step1" class="uploading-done button clickable button-large accent2">Done</a>
            </div>
        </div>

    </div>
    <kb-dialog-photofinder
        ng-hide="dialogPhotofinderIsHidden"
        on-close="hideDialogPhotofinder()"
        on-action="saveEmailAddress()"
        notify-email="notifyEmail"></kb-dialog-photofinder>
</div>