<h2>Send a New Request</h2>

<div ng-include="'views/nav.html'"></div>

<!--<p style="text-decoration: line-through">Kooboodle will create a Facebook photo album named "Photos of {{selectedSubject}} (Kooboodle)". The album will only be visible to you and to the people who contributed photos to it.</p>-->

<div ng-if="nonKbUsers.length > 0">
    <h3>
        <strong>Step 4:</strong>
        Click the “Invite” button for {{nonKbUsers.length > 1 ? 'each of' : ''}} your friend{{nonKbUsers.length > 1 ? 's' : ''}} below to invite {{nonKbUsers.length > 1 ? 'them' : 'him'}}
        and ask to send you photos of <b>{{selectedSubject}}</b>
    </h3>

    <ul class="friend-list">
        <li ng-repeat="friend in nonKbUsers | matchedOrSelected:friendNameQuery" ng-click="sendMessage(friend.id);" class="{{friend.msgSent ? 'msg-sent' : 'msg-send'}}">
            <img src="//graph.facebook.com/{{friend.id}}/picture" />
            <span>{{friend.name}}</span>
        </li>
    </ul>

    <p ng-if="kbUsers.length > 0">
        Your friend{{kbUsers.length > 1 ? 's' : ''}} <strong>{{kbUsersString}}</strong> already use{{kbUsers.length == 1 ? 's' : ''}} Kooboodle.
        We automatically sent {{kbUsers.length > 1 ? 'them' : 'him'}} a request for photos.
        When a photo is uploaded you will receive a Facebook Notification.
    </p>
</div>

<div ng-if="nonKbUsers.length == 0">
    <h3>
        <strong>Step 4:</strong>
        We sent a request for photos to <b>{{kbUsersString}}</b>.
        When a photo is uploaded you will receive a Facebook Notification.
    </h3>
</div>


<div class="nav-buttons">
    <a class="step4-back btn button button-large prev" ng-click="saveMessage();" href="#/step3">Back</a>
    <a class="send-message btn button button-large next" ng-click="nextIfValid()">Done</a>
</div>

<kb-dialog-userinvitation ng-cloak
                          ng-show="dialogUserinvitation"
                          on-close="dialogUserinvitation=false"
                          on-action="next();"></kb-dialog-userinvitation>
