<h2>Send a New Request</h2>

<div ng-include="'views/nav.html'"></div>

<div ng-show="subjectType == 'friend'">

    <h3><strong>Step 2:</strong> Type your name to find more photos of yourself <i>or</i>&nbsp; search for a friend that you'd like to get photos of</h3>

    <div class="search">
        <input type="text" class="search-friend {{invalidInput}}" ng-model="friendNameQuery"
            placeholder="Start searching"/>
    </div>

    <ul class="friend-list">
        <li ng-repeat="friend in friends | emptyIfBlankOrSelected:friendNameQuery" ng-click="singleSelect(friend)" class="{{friend.selected ? 'selected' : ''}}">
            <img src="//graph.facebook.com/{{friend.id}}/picture" />
            <span>{{friend.name}}</span>
        </li>
    </ul>
</div>

<div ng-show="subjectType == 'event'" ng-include="'views/step2_event.html'">Event</div>

<div class="nav-buttons">
    <a class="step2-back btn button button-large prev" href="#/">Back</a>
    <a class="select-people btn button button-large next" href="#/step3" ng-click="nextIfValid($event)">Select People to Ask</a>
</div>