<h2>Send a New Request</h2>

<div ng-include="'views/nav.html'"></div>

<!--<p style="text-decoration: line-through">Kooboodle will create a Facebook photo album named "Photos of {{selectedSubject}} (Kooboodle)". The album will only be visible to you and to the people who contributed photos to it.</p>-->
<p class="info">
    Once a friend uploads photos of <strong>{{selectedSubject}}</strong>, Kooboodle will store them in an album called <strong>"Photos of {{selectedSubject}} from Sender Name via Kooboodle"</strong>.
    This album will only be visible to you, and the friend who uploaded the photos.
</p>

<div ng-if="nonKbUsers.length > 0">
    <h3>
        <strong>Step 4:</strong>
        Invite your friend{{nonKbUsers.length > 1 ? 's' : ''}} to Kooboodle and ask {{nonKbUsers.length > 1 ? 'them' : 'him'}}
        to send you photos of <b>{{selectedSubject}}</b>
    </h3>

    <ul class="friend-list">
        <li ng-repeat="friend in nonKbUsers | matchedOrSelected:friendNameQuery" ng-click="sendMessage(friend.id);" class="{{friend.msgSent ? 'msg-sent' : 'msg-send'}}">
            <img src="//graph.facebook.com/{{friend.id}}/picture" />
            <span>{{friend.name}}</span>
        </li>
    </ul>

    <p ng-if="kbUsers.length > 0">
        Your friend{{kbUsers.length > 1 ? 's' : ''}} <strong>{{kbUsersString}}</strong> already use{{kbUsers.length == 1 ? 's' : ''}} Kooboodle.
        We automatically sent {{kbUsers.length > 1 ? 'them' : 'him'}} a request for photos.
        When a photo is uploaded you will receive a Facebook Notification.
    </p>
</div>

<div ng-if="nonKbUsers.length == 0">
    <h3>
        <strong>Step 4:</strong>
        We sent a request for photos to <b>{{kbUsersString}}</b>.
        When a photo is uploaded you will receive a Facebook Notification.
    </h3>
</div>


<div class="nav-buttons">
    <a class="step4-back btn button button-large prev" ng-click="saveMessage();" href="#/step3">Back</a>
    <a class="send-message btn button button-large next {{done ? '' : 'disabled'}}" ng-click="nextIfValid($event);" href="#/step5">Done</a>
</div>
