<h2>Send a New Request</h2>

<div ng-include="'views/nav.html'"></div>

<h3><strong>Step 2:</strong> Search for a friend that you'd like to get photos of <i>or</i>&nbsp; find more photos of yourself</h3>

<div class="search">
    <span class="label">Search</span> <input type="text" class="search-input {{invalidInput}}" ng-model="friendNameQuery" />
</div>

<ul class="friend-list">
    <li ng-repeat="friend in friends | emptyIfBlankOrSelected:friendNameQuery" ng-click="singleSelect(friend)" class="{{friend.selected ? 'selected' : ''}}">
        <img src="//graph.facebook.com/{{friend.id}}/picture" />
        <span>{{friend.name}}</span>
    </li>
</ul>

<div class="nav-buttons">
    <a class="step2-back btn button button-large prev" href="#/step1">Back</a>
    <a class="select-people btn button button-large next" href="#/step3" ng-click="nextIfValid($event)">Select People to Ask</a>
</div>