<img src="//graph.facebook.com/{{user.id}}/picture" />

<a class="send-reminder button button-round {{user.isLoading}}"
   ng-if="isReminderVisible(user)"
   ng-click="sendReminder(user, request.object)">Remind</a>
<a class="open-album right middle" ng-if="user.status === 'completed'" href="{{user.albumInfo.link}}" target="_blank">View album</a>

<div class="strong name">{{user.name}}</div>

<div class="metainfo">
    Sent {{user.date || request.date | date:'MMMM d, yyyy h:mma'}} |
    <span ng-if="user.status === 'completed'">
        Uploaded {{countItems(user.photos)}} photo(s) on {{user.albumInfo.created_time | date:'MMMM d, yyyy h:mma'}}
    </span>
    <span ng-if="user.status === 'pending'">No photos uploaded yet</span>
</div>